@*@model IEnumerable<GeneralValuationSubs.Models.Draft>*@

@{
    ViewData["Title"] = "Index";
}

<head>
    <link href=https://fonts.googleapis.com/icon?family =Material+Icons rel="stylesheet">

    <link rel="stylesheet"
          type="text/css"
          href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/1.13.3/css/dataTables.jqueryui.min.css" />

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/rowgroup/1.3.0/css/rowGroup.jqueryui.min.css" />

</head>

<link rel="stylesheet" href="~/css/datatable_1.12_min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/datatable_2.2.3_min.css" asp-append-version="true" />

<script src="~/js/jquery-3.5.1.js" asp-append-version="true"></script>
<script src="~/js/jquery.dataTables.min.js" asp-append-version="true"></script>
<script src="~/js/dataTables.buttons.min.js" asp-append-version="true"></script>
<script src="~/js/jszip.min.js" asp-append-version="true"></script>
<script src="~/js/pdfmake.min.js" asp-append-version="true"></script>
<script src="~/js/vfs_fonts.js" asp-append-version="true"></script>
<script src="~/js/buttons.html5.min.js" asp-append-version="true"></script>

<body class="bg-light text-dark">
    <style>
        #preloader {
            background: white no-repeat center center;
            height: 100vh;
            width: 100%;
            position: fixed;
            z-index: 100;
        }
    </style>

    <form asp-controller="Journals" asp-action="AllocatingTask" method="POST">

        @*<div style="overflow-x:auto;"> </div>*@
        <table id="example" class="table table-hover table-bordered dt-responsive nowrap bg-light text-dark display" style="width:100%" cellspacing="0">

            <thead>
                <tr>

                    <th>
                        Premise Id
                    </th>
                    <th>
                        Account Number
                    </th>
                    <th>
                        Market Value
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Valuation Date
                    </th>
                    <th>
                        WEF
                    </th>
                    <th>
                        Net Accrual
                    </th>
                    <th>
                        File Name
                    </th>

                    <th>
                        Status
                    </th>

                    <th>
                        Allocated Name
                    </th>

                    <th>
                        Days to Complete Task
                    </th>

                    <th>
                        Select
                    </th>

                </tr>
            </thead>
            <tbody>
                @if (ViewBag.UserDataList != null)
                {
                    @foreach (var item in ViewBag.UserDataList)
                    {
                        <tr>

                            <td>
                                @item.Premise_ID
                            </td>
                            <td>
                                @item.Account_Number
                            </td>
                            <td>
                                @item.Market_Value
                            </td>
                            <td>
                                @item.Category
                            </td>

                            <td>
                                @item.WEF
                            </td>
                            <td>
                                @item.Valuation_Date
                            </td>

                            <td>
                                @item.Net_Accrual
                            </td>

                            <td>
                                @item.File_Name
                            </td>

                            <td>
                                @item.Status
                            </td>

                            <td>
                                @item.Allocated_Name
                            </td>

                            <td>

                                @if (@item.DateDiff >= 5 && @item.DateDiff <= 7)
                                {
                                    <span style="color: green;">
                                        @item.DateDiff
                                    </span>
                                }
                                else if (@item.DateDiff >= 3 && @item.DateDiff <= 4)
                                {
                                    <span style="color: orange;">
                                        @item.DateDiff
                                    </span>
                                }
                                else if (@item.DateDiff >= 1 && @item.DateDiff <= 2)
                                {
                                    <span style="color: red;">
                                        @item.DateDiff
                                    </span>
                                }
                                else if (@item.DateDiff <= 0)
                                {
                                    <span style="color: red;">
                                       <p>Task is overdue</p>
                                    </span>
                                }

                            </td>

                            <td>
                                <input type="checkbox" name="selectedItems" value="@item.Journal_Id" />
                            </td>

                        </tr>

                    }
                }
                
            </tbody>
        </table>

        <br />
        <br />

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="form-group">
                    <select name="JournalName" required id="JournalName" class="form-select" style="font-size: 15px; margin-left: 40px;">
                        <option disabled selected value="">Select User</option>
                        @if (ViewBag.LVCList != null)
                        {
                            foreach (var valuer in ViewBag.LVCList)
                            {
                                <option id="valuersss" value="@valuer.FirstName @valuer.Surname">@valuer.FirstName @valuer.Surname</option>
                            }
                        }
                    </select>   
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                <label>
                    <input type="radio" name="priorityOrIndifference" value="Priority - Allocated" id="priority"> Priority
                </label>
                <label>
                    <input type="radio" name="priorityOrIndifference" value="Allocated" id="indifference" checked> Indifference
                </label>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                <div>
                    <button type="submit" class="btn" style="background-color: #006570;">Allocate Tasks</button>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="margin-left: 40%" role="document">
                <div class="modal-content" style="margin-right: 50%">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Allocating Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        You are about to assign task to a valuer.</script>.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Proceed</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script type="text/javascript"
            charset="utf8"
            src="https://code.jquery.com/jquery-3.5.1.js"></script>


    <script type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/1.13.3/js/dataTables.jqueryui.min.js"></script>

    <script type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/rowgroup/1.3.0/js/dataTables.rowGroup.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({
                scrollX: true
            });
        });
    </script>

</body>