@*@model IEnumerable<GeneralValuationSubs.Models.Draft>*@

@{
    ViewData["Title"] = "Index";

    var premiseId = string.Empty;
}

<head>
    <link href=https://fonts.googleapis.com/icon?family =Material+Icons rel="stylesheet">

    <link rel="stylesheet"
          type="text/css"
          href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/1.13.3/css/dataTables.jqueryui.min.css" />

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/rowgroup/1.3.0/css/rowGroup.jqueryui.min.css" />

</head>

<link rel="stylesheet" href="~/css/datatable_1.12_min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/datatable_2.2.3_min.css" asp-append-version="true" />

<script src="~/js/jquery-3.5.1.js" asp-append-version="true"></script>
<script src="~/js/jquery.dataTables.min.js" asp-append-version="true"></script>
<script src="~/js/dataTables.buttons.min.js" asp-append-version="true"></script>
<script src="~/js/jszip.min.js" asp-append-version="true"></script>
<script src="~/js/pdfmake.min.js" asp-append-version="true"></script>
<script src="~/js/vfs_fonts.js" asp-append-version="true"></script>
<script src="~/js/buttons.html5.min.js" asp-append-version="true"></script>

<body class="bg-light text-dark">
    <style>
        #preloader {
            background: white no-repeat center center;
            height: 100vh;
            width: 100%;
            position: fixed;
            z-index: 100;
        }
    </style>

    <form asp-controller="Journals" asp-action="AllocatingTask" method="POST">

        @*<div style="overflow-x:auto;"> </div>*@
            <table id="example" class="table table-hover table-bordered dt-responsive nowrap bg-light text-dark display" style="width:100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Premise Id
                        </th>
                        <th>
                            Account Number
                        </th>
                        <th>
                            Market Value
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Billing From
                        </th>
                        <th>
                            Billing To
                        </th>
                        <th>
                            Billing Days
                        </th>
                        <th>
                            Threshold
                        </th>

                        <th>
                            Ratable Value
                        </th>

                        <th>
                            Rates Tariff
                        </th>

                        <th>
                            Rebate Type
                        </th>
                        <th>
                            Rebate Amount
                        </th>
                        <th>
                            Calculated Rate
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.PremiseID != null)
                    {

                        @foreach (var item in ViewBag.PremiseID)
                        {
                            <tr>
                                <td>
                                    @item.Premise_ID

                                    @{
                                        premiseId = item.Premise_ID; 
                                    }

                                </td>
                                <td>
                                    @item.Account_Number
                                </td>
                                <td>
                                    @item.Market_Value
                                </td>
                                <td>
                                    @item.Category
                                </td>

                                <td>
                                    @item.BillingFrom.ToString("yyyy-MM-dd")
                                </td>
                                <td>
                                    @item.BillingTo.ToString("yyyy-MM-dd")
                                </td>

                                <td>
                                    @item.BillingDays
                                </td>

                                <td>
                                    @item.Threshold
                                </td>

                                <td>
                                    @item.RatableValue
                                </td>

                                <td>
                                    @item.RatesTariff
                                </td>

                                <td>
                                    @item.RebateType
                                </td>

                                <td>
                                    @item.RebateAmount
                                </td>

                                <td>
                                    @item.calculatedRate
                                </td>
                            </tr>

                        }
                    }

                </tbody>
            </table>

            <div class="col-md-6 form-group">
                <a class="btn btn-primary" asp-controller="Journals" asp-action="DownloadFiles" asp-route-PremiseID="@premiseId" style="margin-left: 2cm;">Download File</a>
            </div>

        <br />
        <br />       

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="margin-left: 40%" role="document">
                <div class="modal-content" style="margin-right: 50%">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Allocating Task</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        You are about to assign task to a valuer.</script>.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Proceed</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script type="text/javascript"
            charset="utf8"
            src="https://code.jquery.com/jquery-3.5.1.js"></script>


    <script type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/1.13.3/js/dataTables.jqueryui.min.js"></script>

    <script type="text/javascript"
            charset="utf8"
            src="https://cdn.datatables.net/rowgroup/1.3.0/js/dataTables.rowGroup.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#example').DataTable({

            });
        });
    </script>

</body>